
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Testlayout.cshtml";
}



<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>Hakkımızda</h3>
            <img src="~/Resources/images/about_banner.jpg" alt="" />
            <p>Merhaba</p>
        </div>
    </div>
</div>